includes:
    - ../../../vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
        - phpstan

    reportUnmatchedIgnoredErrors: true

    bootstrapFiles:
        - phpstan-bootstrap.php
